{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}


{% block content %}
{% if page_obj.has_other_pages %}
{% include 'include/_pagination.html' %}
{% endif %}
{% for item in news %}
<div class="container mt-3">
    <div class="card-header mb-2">
        Категория: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
    </div>
    <div class="row">
        <div class="col-md-auto">
            {% if item.photo %}
            <img src="{{ item.photo.url }}" alt="" class="img-fluid">
            {% else %}
            <img src="https://picsum.photos/seed/picsum/200/300" alt="" class="img-fluid">
            {% endif %}
        </div>
        <div class="col-md">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">{{ item.content|truncatewords:140 }}.</p>
            <a href="{{ item.get_absolute_url }}" class="btn btn-primary mb-1">Read more...</a>
        </div>
    </div>
    <div class="card-footer text-muted mb-3">
        {{ item.created_at|date:"Y-m-d H:i:s" }}
    </div>
</div>
{% endfor %}
{% if page_obj.has_other_pages %}
{% include 'include/_pagination.html' %}
{% endif %}
{% endblock content %}



